//.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

//CSS Tema 1


.img2-tm1
  position: relative
  width: 60%
  left: 20%
  margin-top: 12%
  @media (max-width: 500px)
    width: 100%
    left: 0%;
    margin-top: 0%

.tema1-bg1
  background-image: url(../assets/curso/temas/tema1/bg1.png)
  background-size: 100% 100%

.tarjeta-borde
  border-bottom: 1px solid #AFAFAF
  border-top: 1px solid #AFAFAF
  border-radius: 0px
  height: 250px
  @media (max-width: 500px)
    height: 420px

.bg1
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -10px
    width: calc( 110% + 130px )
    height: 100%       
    background-image: url('../assets/curso/temas/tema1/bg2.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 
    @media (max-width: 500px)
      background-repeat: repeat

.bg2
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -10px
    width: calc( 110% + 160px )
    height: 100%       
    background-image: url('../assets/curso/temas/tema1/bg3.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 
    @media (max-width: 500px)
      background-repeat: repeat

.tema1-bg2
  background-image: url(../assets/curso/temas/tema1/bg4.png)
  background-size: 100% 100%

.tema1-bg3
  background-image: url(../assets/curso/temas/tema1/bg5.png)
  background-size: 100% 100%

//slyderA tipo a

.slyder-a__tipo-a .slyder-a__btn--sigt
  right: -15px
  opacity: 1
  @media (max-width: 500px)
    top: 30%

.slyder-a__tipo-a .slyder-a__btn--atrs
  left: -15px
  opacity: 1
  @media (max-width: 500px)
    top: 30%

.slyder-a__tipo-a .slyder-a__bullets 
    position: absolute
    bottom: 0px
    left: 50%
    transform: translateX(-50%)
    display: none !important

//tarjeta modal

.modal-a__content
  width: 50%

///// CSS GLOBALES------

.bloque-texto-g1__img 
  width: 50%
  position: absolute
  top: 0
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover
  @media (max-width: 500px)
    height: 250px
    width: 100%
    left: 0%

.bloque-texto-g1__texto 
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)
  right: 40%
  @media (max-width: 500px)
    width: 100%
    right: 0%

//lista con icono

.list 
  width: 100%
  display: flex !important
  &__item 
    &__bulletNumber 
      position: relative
      width: 50px
      height: 50px
      margin-right: 1rem
      text-align: center
      border-radius: 50%
      background-color: #339CE9
      span 
        color: red
        font-weight: 700
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 30px
              
    
    &__number 
      position: relative
      margin-right: 0.5rem
      span 
        color:#BF3976
        font-size: 13pt
        font-weight: 700
        line-height: 1.2
      
    
    &__icon
      position: relative
      width: 30px
      margin-right: 0.65rem
      margin-top: 4px
      img 
        width: 50px
        vertical-align: middle

    &__icon1
      position: relative
      width: 40px
      margin-right: 0.65rem
      margin-top: -5px
      margin-bottom: 5px
      img 
        width: 50px
        vertical-align: middle

.cajon.color-primario 
  background-color: #c0ebf6


.tarjeta--azul-1
  background-color: #c0ebf6
  width: 270px !important
  height: 430px !important

.tarjeta--morada
  background-color: #E1DDFC


.tarjeta-avatar-b__img
  min-width: 15%


.modal-a--abierto .modal-a__fondo
  opacity: 1


/// CSS TEMA 2 --------

.tarjeta-numerada
  height: 480px
  @media (max-width: 500px)
    height: auto

.tabla-a thead 
  background-color: #8979F3 !important
  border-block-color: #8979F3 !important

.bgr-tr
  background-color: rgba(232, 232, 232, 0.4) !important

.size-tab
  font-size: 14px !important

.tema2-bg1
  background-image: url(../assets/curso/temas/tema2/bg1.png)
  background-size: 100% 100%

